@charset "utf-8";

:root {
  --cs-blue: #3b71d3;
  --cs-orange: #eb803a;
  --cs-shadow-blue: #3b71d310;
  --cs-lightgray: rgba(245, 245, 245, 0.95);
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-size: 16px;
}

.cs-logo {
  width: 450px;
}

.cs-h2 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--cs-orange);
}

.cs-video-tutorial {
  box-shadow: 10px 10px 10px var(--cs-shadow-blue),
    -10px -10px 10px var(--cs-shadow-blue),
    10px -10px 10px var(--cs-shadow-blue), -10px 10px 10px var(--cs-shadow-blue);
}

.cs-bg-lightgray {
  background-color: var(--cs-lightgray);
}

.cs-bg-footer {
  background: var(--cs-blue) url("../img/turquoise-bg-tile.png") repeat;
}

.cs-links {
  font-size: 8rem;
  color: var(--cs-blue);
  transition: all ease 400ms;
}

.cs-links:hover {
  color: var(--cs-orange);
  font-size: 10rem;
}
