<footer id="cs-sponsored-by" class="container-fluid cs-bg-footer align-self-end py-5">
    <h2 class="text-center text-capitalize cs-h2-footer mb-5">
      En alianza con
    </h2>

    <section class="row justify-content-around">
      <div
        class="col-3 d-flex justify-content-center align-items-center"
      >
        <img
          class="img-fluid cs-footer-sponsors"
          src="./assets/img/vsf-logo.png"
          alt="VENEZUELA SIN FILTRO - LOGO"
        />
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
      </div>
    </section>
  </footer>
