<header
  id="cs-header"
  class="text-center animate__animated animate__fadeInDown py-5"
>
  <h1>
    <img
      class="cs-logo img-fluid"
      src="./assets/img/conexion-segura.svg"
      alt="Conexión Segura"
    />
  </h1>

  <ul class="nav justify-content-around mt-4">
    <li class="nav-item">
      <a class="nav-link active" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Stickers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Canal Youtube</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contáctanos</a>
    </li>
  </ul>
</header>
