.cs-h2-footer {
  font-size: 1.5rem;
  font-weight: 700;
  color: #91A8AF;
}

.cs-bg-footer {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 20%
    ),
    lightgray url("../../assets/img/lightgray-tile.png") center center repeat;
}
