---
--- 

@charset "utf-8";

:root {
  --cs-blue: #3b71d3;
  --cs-orange: #eb803a;
  --cs-shadow-blue: #3b71d310;
  --cs-lightgray: rgb(240, 240, 240);
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100%;
}

main {
  min-height: 100%;
}

@import "footer";

@import "header";

.cs-logo {
  height: 120px;
}

.cs-h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--cs-orange);
}

.cs-video-tutorial {
  box-shadow: 10px 10px 10px var(--cs-shadow-blue),
    -10px -10px 10px var(--cs-shadow-blue),
    10px -10px 10px var(--cs-shadow-blue), -10px 10px 10px var(--cs-shadow-blue);
  height: 80vh;
  width: 80vw;
}

.cs-links {
  font-size: 2rem;
  color: var(--cs-blue);
  transition: all ease 400ms;
}

.cs-links:hover {
  color: var(--cs-orange);
}

.cs-text-indent {
  text-indent: 1rem;
}