---
layout: default
permalink: /youtube
---

<article
  id="cs-tutorial-videos"
  class="container-fluid py-5 animate__animated animate__fadeInLeft"
>
  <section class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <iframe
        class="cs-video-tutorial"
        src="https://www.youtube-nocookie.com/embed/videoseries?list=PL86JVz13WgVj1P7ICT8UTKHNxRVuk4ndo"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </section>
</article>
